In [2]:
import pandas as pd
import os
import numpy as np
import plotly.express as px

In [4]:
cdi = os.path.join('Resources', '')
cdi_df = pd.read_csv(cdi)
cdi_df.head(1000)

/Users/slimykid/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2011,2011,AK,Alaska,NVSS,Cardiovascular Disease,Mortality from coronary heart disease,NaN,NaN,Number,...,2,CVD,CVD1_3,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2014,2014,AK,Alaska,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,NaN,Number,...,2,CVD,CVD1_4,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
2,2017,2017,AK,Alaska,SEDD; SID,Cardiovascular Disease,Hospitalization for stroke,NaN,NaN,Number,...,2,CVD,CVD3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
3,2017,2017,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,1,AST,AST4_1,NMBR,RACE,WHT,NaN,NaN,NaN,NaN
4,2015,2015,AL,Alabama,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,1,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2001,2001,AL,Alabama,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,NaN,Years,Number,...,1,OVC,OVC4_2,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
996,2015,2015,AK,Alaska,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,"cases per 10,000",Age-adjusted Rate,...,2,AST,AST3_1,AGEADJRATE,RACE,WHT,NaN,NaN,NaN,NaN
997,2017,2017,AL,Alabama,CMS Part A Claims Data,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,"cases per 1,000",Age-adjusted Rate,...,1,COPD,COPD5_3,AGEADJRATE,RACE,API,NaN,NaN,NaN,NaN
998,2016,2016,AK,Alaska,CMS Part A Claims Data,Cardiovascular Disease,Hospitalization for heart failure among Medica...,NaN,"cases per 1,000",Age-adjusted Rate,...,2,CVD,CVD2_0,AGEADJRATE,RACE,BLK,NaN,NaN,NaN,NaN
999,2015,2015,AK,Alaska,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,"cases per 100,000",Age-adjusted Rate,...,2,CVD,CVD1_4,AGEADJRATE,RACE,API,NaN,NaN,NaN,NaN

In [8]:
health_df['une_poverty']

291

Does health spending impact life expectency ? corr
Does the rate of change from 2000-2016 in Current health expenditure (CHE) impact life expectency and adult mortality? corr
How does the life expectancy after age 60 compare to the life expectancy at birth?

look at specific year for specific columns that have missing data (ex 2016)

explain countries and regions// alc consumption between regions

alc affect over years on BMI, Life expect., Life expect60<, PPP, infant mort, and age 1-4 mort
compare re


alc use increases with increased gni

rate of change from 2000-2016 alc use 

NGO non profit sect of WHO